.cache/*
.bash*
.gitconfig
.yadm/*
.histfile
.viminfo
.zcompdump*
Docs
Mail
Programs
Downloads
Documents
configbackup/*
.mozilla/*
.config/pulse/*
.Xauthority
.esd_auth
.local/*
.config/htop/htoprc
.config/urxvtconfig/
tmp
.config/dconf
.config/Thunar/accels.scm
.config/xfce4
.config/Trolltech.conf
.thumbnails
.ssh
.config/libreoffice
